

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
    --font-style: 'Nunito Sans', sans-serif;
}

body {
    font-family: var(--font-style);
    background: url("/imagenes/fondohd.jpg") ;
}

.menuu{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}



.mennu {
    margin: 5%;
    width: 50vw;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0;
    border-radius: 25px;
    border: 0.1px solid #099FFF;
    background-color: #18181B;
    box-shadow: 0 4px 8px 0 #00FFFF, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link{
color:rgb(6, 226, 250) ;

}


.item {
    margin: auto;
    color: rgb(248, 9, 9);
    font-size: 20px;
    cursor: pointer;
}

.item:after {
    display: block;
    content: '';
    border-bottom: solid 1px #00FFFF;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.item:hover:after {
    transform: scaleX(1);
}

.circle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid #2B3241;
    animation: wave 0.8s forwards;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #686FFD;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
:root {
    --font-style: 'Nunito Sans', sans-serif;
}

.contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

@keyframes typing {
    0% {
        width: 0
    }
    20% {
        width: 20%;
    }
    40% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}


@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #52E1E2;
    }
}

.titulo {
width: 0%;
overflow: hidden;
border-right: .15em solid #52E1E2;
white-space: nowrap;
color: white;
animation: typing 4.5s steps(60, end) forwards, blink-caret .85s step-end infinite;
}

.color {
color: #AAC6C6;
}





@keyframes wave {
    0% {
        width: 5px;
        height: 5px;
        opacity: 1;
    }
    90% {
        width: 50px;
        height: 50px;
        opacity: 0.5;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}

.footer {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 0;
}

.footer div {
    width: 40px;
    height: 5px;
    background-color: #9581F4;
    margin: auto;
    position: relative;

}

.icono {
    position: relative;
    list-style: none;
    width:2.5rem ;
    height: 2.5rem;
    margin: 5px; ;
}

.icono span {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex !important;
    background: #2a2a2a;
    justify-content: center;
    align-items: center;
    color: rgb(250, 246, 246);
    font-size: 30px !important;
    transition: 1.5s ease-out;
}

/*iconos*/
.icono:hover span {
    transition: .3s;
}

.icono:nth-child(2):hover span {
    background: #2C3456 !important;
}

.icono:nth-child(3):hover span {
    background: #6A9AEE !important;
}

.icono:nth-child(4):hover span {
    background: #CC296C !important;
}

.icono:nth-child(5):hover span {
    background: #2C3456 !important;
}



@media only screen and (max-width: 800px) {

    .mennu {
        margin: 5%;
        width:450px ;
    }

    
  }


 body {
    color: #C0C0C0;
    font-family: Arial, san-serif;
 }
 
 
 /* Contacto */
 h1 {
    margin: 10px 0 0 0;
 }
 h4{
    margin: 0 0 20px 0;
 }
 #contact-form {
    background-color:rgba(72, 72, 72, 0.104);
    padding: 10px 20px 30px 20px;
    max-width:100%;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:30px;
    margin-left: -260px;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
 }
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea,   
 #contact-form label { 
    font-size: 15px;  
    margin-bottom: 2px;
    font-family: Arial, san-serif;
 } 
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #fff;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 5px;  
 }  
 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: #E5E6E7; 
 }  
 #contact-form textarea {
    width:100%;
    height: 150px;
 }
 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#991D57;
    background-image:linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-moz-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    background-image:-webkit-linear-gradient(bottom, #8C1C50 0%, #991D57 52%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
 }
 #contact-form button[type="submit"]:hover {
    background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
 } 
 #contact-form .required {  
    font-weight:bold;  
    color: #E5E6E7;      
 }
 
 /* Hide success/failure message
    (especially since the php is missing) */
 #failure, #success {
    color: #6EA070; 
    display:none;  
 }
 
 /* Make form look nice on smaller screens */
 @media only screen and (max-width: 580px) {
    #contact-form{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 }